body{
    background-image: url("jason-leung-479251-unsplash.jpg");
    background-position: center no-repeat;
    background-size: cover;
    wight: 100%;
    font-family: Georgia, Times, serif;
}



.container{
    width:80%;
    background-color: LightGrey;
    opacity: 0.89;

}

.res{
    width:100%;
    background-color: white;

}
.boxes{
    hight:
    width: 3rem;
    padding: 1em;
    margin: 10px;
    float:left;
    border-right: 1px solid pink;

}

.card{
    margin: 0 auto;
}

h2{
    text-align: center;
    margin:1em;
}

.about{
    width:100%;
    padding:1em;
    margin:1em;
    background-color: white;

}
p{
    text-indent: 1em;
    line-height: 2em;
}

.card{
    margin: 3em;
}

.fa-terminal{
    margin-right: 1em;
}

.box_footer{
    box-sizing: border-box;
    margin: 1.4em;

     height: 100px;
     width: 200px;
     padding-box: 3em;
     margin-top: 6em

}
#top{
line-height: 1.3em;
}

#mid{
    margin-right: 2em;
}

.fa-mobile{
    margin-right: 2em;

}
	#footer {
		padding: 4em 0 2em 0;
		background-color:  LightGrey;
		text-align: center;
        text-decoration: none;
	}

#below_section{
    background-color: white;

}
